In [5]:
import os
import sys

# Step 1: Set project root path (go up one level from notebooks/)
project_root = os.path.abspath(os.path.join(os.getcwd(), ".."))

# Step 2: Add project root to system path
if project_root not in sys.path:
    sys.path.append(project_root)

In [6]:
import pandas as pd

# Step 3: Load the data file
file_path = os.path.join(project_root, "data", "raw", "insurance_data.txt")
df = pd.read_csv(file_path, sep="|", header=None)

df.head()

C:\Users\ABC\AppData\Local\Temp\ipykernel_7200\2475778820.py:5: DtypeWarning: Columns (0,1,3,14,18,20,23,24,25,27,29,32,37,38,39,41,50,51) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, sep="|", header=None)

,0,1,2,3,4,5,6,7,8,9,...,42,43,44,45,46,47,48,49,50,51
0,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
1,145249,12827,2015-03-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929824561403,.000000000000
2,145249,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929824561403,.000000000000
3,145249,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,.000000000000,.000000000000
4,145255,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070175439,.000000000000